@font-face {
    font-family: "goudy";
    src: url('../fonts/goudy-old-style-bold-italic-number-one.woff2') format('woff2'),
         url('../fonts/goudy-old-style-bold-italic-number-two.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: "castle";
    src: url('../fonts/The\ Castle\ Elizah\ Italic.woff2') format('woff2'),
         url('../fonts/The\ Castle\ Elizah\ Italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body {
    margin:0;
}
h1{
    font-family:"goudy";
    position:relative;
    margin:0px;
    z-index:10000;
}
h2 {
    font-family:"castle";
    font-size:2em;
}
p, a {
    font-family: 'Mukta', sans-serif;
}
#myVideo {
    margin:0px;
    display:block;
    width:100%;
    height:90vh;
    background-size: cover;
    border:none;
    object-fit: cover;
}
#myLogo {
    margin:auto;
    width:100%;
    background-color:black;
    height:50px;
}
#myLogo img{
    display:block;
    height:50px;
    margin:auto;
}
.fixed {
    position:fixed !important;
    top:0px;
    width:100%;
    z-index:1000000000;
}
#menu {
    background-color:black;
    position:absolute;
    width:100%;
}
nav ul {
    padding:0px;
    margin:0px;
    list-style-type: none;
}
#menu ul li a {
    display:block;
    width:20%;
    background-color:black;
    color:white;
    font-size:1.5em;
    float:left;
    height:50px;
    text-align:center;
    line-height:50px;
    text-decoration:none;
    transition:0.7s all ease;
    font-family: 'Mukta', sans-serif;
}
#menu ul li a:hover{
    background-color:white;
    color:black;
    font-weight:bold;
}
.centrado {
    width:80%;
    max-width:1000px;
    margin:auto;
}
.clear {
    clear:both;
}

#firstBlock {

    padding-top:5%;
}
#firstBlock h1 {
    font-size:4em;
    margin-bottom:5%;
}
#mumimages {
    width:55%;
    height:280px;
    position:relative;
    float:left;
}
.move-mumimages {
    position:absolute;
    float:left;
}
#first-mumimage {
    top:87px;
    left:150px;
    z-index:1;
    transition:0.8s all ease-out;
    cursor:pointer;
    transform:scale(1.15)
}
#second-mumimage {
    top:106px;
    left:343px;
    z-index:4;
    filter:saturate(0%);
    transition:0.8s all ease-out;
    cursor:pointer;
    transform:scale(1.15)
   
}
#third-mumimage {
    top:113px;
    left:95px;
    z-index:5;
    filter:saturate(0%);
    transition:0.8s all ease-out;
    cursor:pointer;
    transform:scale(1.15)
}
#fourth-mumimage {
    top:129px;
    left:455px;
    z-index:10;
    filter:saturate(0%);
    transition:0.8s all ease-out;
    cursor:pointer;
    transform:scale(1.15)
    
}
#mumtext {
    width:45%;
    height:390px;
    float:left;
    position:relative;
    text-align:justify;
}
.move-mumtexts {
    position:absolute;
    
}
#first-mumtext{
    top:0px;
    left:0px;
   
}
#second-mumtext {
    top:0px;
    left:0px;
    opacity:0;
}
#third-mumtext {
    top:0px;
    left:0px;
    opacity:0;
}
#fourth-mumtext {
    top:0px;
    left:0px;
    opacity:0;
}
.animation1 {
    width:100%;
    animation-name:animation1;
    animation-duration:1s;
    animation-fill-mode:forwards;
}
@keyframes animation1 {
    0% {
        top:0px;
        left:0px;
        filter:blur(0px);
        opacity:1;
        transform:scale(1.0)
    }
    70% {
        filter:blur(15px);
    }
    100% {
        top:0px;
        left:250px;
        
        opacity:0;
        transform:scale(0.3)
    }
}
.animation2 {
    animation-name:animation2;
    animation-duration:1s;
    animation-delay:0.5s;
    animation-fill-mode:forwards;
}
@keyframes animation2 {
    0%{
        top:0px;
        left:-300px;
        filter:blur(15px);
        opacity:0;
        transform:scale(0.3)
    }
    85% {
        filter:blur(0px);
    }
    100% {
        top:0px;
        left:0px;
        
        opacity:1;
        transform:scale(1.0)
        
    }
}
#secondBlock {
    background-image:url(../img/second-block.jpg);
    background-size:cover;
    position:relative;
    background-attachment: fixed;
}
#secondBlock h1 {
    color:white;
    text-align:right;
    padding-top:20px;
    font-size:4em;
}
.row {
    justify-content: space-evenly;
}
hr {
    display: none; 
    height: 1px;
    border: 5px solid white!important;
    z-index:10000;
}
.myLine {
    border-bottom:rgb(255, 255, 255) solid 3px;
    border-radius:10%;
}
.discographyText p{
    font-family:"goudy";
    font-size:1.2em!important;
}
.first-flex, .second-flex {
    display:flex;
    justify-content: space-evenly;
}
.discographyClass {
    width:45%;
    border-radius:50%;
    transform:scale(0.8);
    transition:0.4s all ease-in;
    cursor: pointer;
    z-index:5001;
}
.discographyClass:hover {
    filter: contrast(110%) saturate(110%);
    transform:scale(0.85)
}
.disco-right, .disco-left {
    position:relative;
}
.discoanimate1 {
    animation-name:disco1;
    animation-duration:1s;
    animation-fill-mode:forwards;
}
.discoanimate2 {
    animation-name:disco2;
    animation-duration:1s;
    animation-fill-mode:forwards;
}
@keyframes disco1 {
    0% {

    }
    1% {
        left:-1%;
    }
    100% {
        left:-30%;
    }
}
@keyframes disco2 {
    0% {

    }
    1% {
        right:-1%;
    }
    100% {
        right:-30%;
    }
}
.discographyText {
    color:white;
    position:absolute;
    top:18%;
    left:34%;
    width:30%;
    font-size:1.4em;
    text-align:center;
    z-index:5000;
}
#babel {
    opacity:0;
    transform:scale(0.3);
    transition:1.4s all ease;
}
#delta {
    opacity:0;
    transform:scale(0.3);
    transition:1.4s all ease;
}
#sigh-no-more {
    opacity:0;
    transform:scale(0.3);
    transition:1.4s all ease;
}
#wilder-mind {
    opacity:0;
    transform:scale(0.3);
    transition:1.4s all ease;
}
.black-blurred {
    background-color:rgba(0, 0, 0, 0.90);
    filter:blur(45px);
    position:absolute;
    top:15%;
    left:35%;
    width:40%;
    height:80%;
    opacity:0;
    transition:1.2s all ease;
}
.discographyText p {
    line-height:40px;
    font-family:"goudy";
    font-size:1.15em!important;
}
.discographyText h2 {
    font-size:2.0em;
}


#thirdBlock {
    text-align:center;
    background-color:black;
    color:white;
}
#thirdBlock h1 {
    padding:2% 0% 2% 0%;
    font-size:4em;
}
#galeryImages img {
    width:20%;
    float:left;
    transition:0.4s all ease-in-out;
    filter:saturate(0%) contrast(150%)
}
#galeryImages img:hover {

    filter:saturate(110%) contrast(110%);
}


#fourthBlock {
    background-image:url(../img/background-videos.jpg);
    background-size:cover;
    background-position:center bottom;
    padding-bottom:5%;
}
#fourthBlock h1 {
    margin:2% 0% 3% 0%;
    font-size:4em;
}

#fourthBlock #myVideos video:hover {
    transform:scale(1.03);
}

.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.my-iframe {
    width:45%;
    margin:1%;
    float:left;
}
#fifthBlock {
    background-color:rgb(0, 0, 65);
    padding-bottom:3%;
}
#fifthBlock h1 {
    font-size:4em;
    text-align:right;
    color:white;
    padding:2% 0% 3% 0%; 
}
#fifthBlock img {
    width:50%;
    float:left;
    border-radius:50%;
    box-shadow:rgba(255, 255, 255, 0.268) 0px 0px 20px 10px;
}
#formulario {
    float:left;
    width:45%;
    margin-left:auto;color:white;
}
.texto {
    display:block;
    float:left;
    width:30%;
    font-size:1em;
    font-weight:bold;
    color:white;
    margin-left:15%;
    margin-top:1%;
    font-family: 'Mukta', sans-serif;
}
.campo {
    width:53%;
    border:white 2px solid;
    border-radius:5px;
    margin-bottom:5%;
    margin-left:2%;   
}
#checkbox {
    margin-left:2%;
}
.textoprivacidad {
    display:block;
    float:left;
    width:100%;
    font-size:1em;
    font-weight:bold;
    color:white;
    padding-left:20%;
    margin:1%;
    font-family: 'Mukta', sans-serif;
}
.myBigText {
    width:53%;
    border:white 2px solid;
    border-radius:5px;
    margin-bottom:4%;
    margin-left:2%;
}
.boton {
    background-color:white;
    border:rgb(0, 0, 65) 5px solid;
    color:rgb(0, 0, 65);
    font-size:1.2em;
    line-height:10px;
    font-weight:bold;
    height:50px;
    width:50%;
    padding:2%;
    margin-left:35%;
    margin-top:2%;
    transition:0.4s all ease-in;
}
.boton:hover {
    color:white;
    background-color:rgb(0, 0, 65);
    border:white 5px solid;
}




footer {
    background-color:black;
    padding:1% 0% 1% 0%;
    text-align:center;
}
footer a {
    display:block;
    color:white;
    font-size:14px;
    font-weight:bold;
    text-decoration:none;
    transition:0.3s all ease-out;
}
footer a:hover {
    transform:scale(1.15);
    color:white;
}
footer p {
    color:white;
    padding-top:2%;
}
footer i {
    font-size:2.2em;
    color:white;
    transition:0.5s all ease;
}
.date-small {
    display:none;
}
#img-small-mobile {
    display:none;
    border:none;
}
#firstRelative {
    position:relative;
    top:-50px;
}
#secondRelative {
    position:relative;
    top:-50px;
}
#thirdRelative {
    position:relative;
    top:-60px;
}
#fourthRelative {
    position:relative;
    top:-50px;
}
#fifthRelative {
    position:relative;
    top:-50px;
}
footer .fa-instagram {
    border-radius:40%;
}
footer .fa-instagram:hover {
    color:#C13584;
    
}
.fa-twitter:hover {
    color:rgb(108, 196, 255);
}
.fa-facebook:hover{
    color:#0034d0;
}
.fa-spotify:hover {
    color:#1DB954;
}
.fa-youtube:hover {
    color:red;
}
#myMobileImage {
    display:none;
}
#mobile-menu {
    display:none;
    height:70px;
}
#abre {
    display:none;
}

@media screen and (max-width:1400px){
    .discographyText p{
        line-height:37px;
    }
    @keyframes disco1 {
        0% {
    
        }
        1% {
            left:-1%;
        }
        100% {
            left:-20%;
        }
    }
    @keyframes disco2 {
        0% {
    
        }
        1% {
            right:-1%;
        }
        100% {
            right:-20%;
        }
    }
}

@media screen and (max-width:1060px) {
    .discographyText {
        font-size:1.1em;
    }
    .discographyText p {
        line-height:30px;
        font-size:1em;
    }
    .discographyText h2 {
        font-size:1.2em;
        margin:0%;
        margin-bottom:4%;
    }
    #mumimages {
        float:none;
    }
    #mumtext {
        float: none;
        width:100%;
    }
    #first-mumimage {
        top:-80px;
        left:210px;
    }
    #second-mumimage {
        top:-61px;
        left:403px;
    }
    #third-mumimage {
        top:-54px;
        left:155px;
    }
    #fourth-mumimage {
        top:-37px;
        left:515px;
    }
    #myFormImage {
        display:none;
    }
    #myMobileImage {
        display:block;
    }
    #fifthBlock img {
        width:50%;
    }
    #formulario {
        width:50%;
        margin-top:10%;
    }
    .texto {
        width:100%;
        text-align:center;
    }
    .campo {
        margin-left:10%!important;
        width:100%;
    }
    .myBigText {
        width:100%;
        margin-left:10%;
    }
    .textoprivacidad {
        width:100%;
       
        text-align:center;
    }

}
@media screen and (max-width:900px) {
    #mobile-menu {
        display:block;
        background-color:white;
        width:100%;
        height:0%;
        transition:0.5s all ease;
        z-index:1000000000;
        position:fixed;
        top:0px;
        overflow:hidden;
       
    }
    #mobile-menu a {
        color:black;
        transition:0.4s all ease-in;
    }
    #mobile-menu .col-1 {
        color:black;
        font-size:2em;
        margin-top:5%;
    }
    #mobile-menu .fa-instagram:hover {
        color:#C13584;
    }
    #myVideo {
        height:100vh;
    }
    #menu {
        display:none;
    }
    #myLogo {
        position:fixed;
        top:0px;
        z-index: 100000000;
    }
    #myLogo img {
        margin:0px;
        float:left;
    }
    #myLogo a {
        float:left;
    }
    #abre {
        display:block;
        color:white;
        font-size:1.75em;
        line-height:55px;
        position:fixed;
        right:20px;
        transition:0.6s all ease-in;
    }
    #cierra{
        color: #000;
        font-size: 35px;
        position: absolute;
        top: 20%;
        left: 10%;
    }
    #mobile-menu ul li a{
        display: block;
        width: 50%;
        margin: auto;
        text-align: center;
        text-decoration: none;
        height: 70px;
        line-height: 100px;
        font-size: 2.1em;
        color: #000;
        font-family:"goudy";
    }
}
@media screen and (max-width:770px) {
    hr {
        display:none;
    }
    h1 {
        font-size:2.5em!important;
    }
    .discographyText p {
        line-height:25px;
    }
    .date-big {
        display:none;
    }
    .date-small {
        display:block;
    }
    #galeryImages img {
        width:50%;
    }
    #img-small-mobile {
        display:block;
    }
    #first-mumimage {
        top:-40px;
        left:120px;
    }
    #second-mumimage {
        top:-21px;
        left:313px;
    }
    #third-mumimage {
        top:-14px;
        left:65px;
    }
    #fourth-mumimage {
        top:3px;
        left:425px;
    }
    #formulario {
        margin-top:0px;
    }
    .my-iframe {
        width:100%;
    }
}
@media screen and (max-width:640px) {
    .discographyText h2 {
        margin:0%;
        text-decoration:underline;
        margin-bottom:3%;
    }
    .discographyText {
        top:20%;
        font-size:0.9em;
    }
    .discographyText p {
        line-height:21px;
    }
    #first-mumimage {
        top:0px;
        left:50px;
    }
    #second-mumimage {
        top:19px;
        left:243px;
    }
    #third-mumimage {
        top:26px;
        left:-05px;
    }
    #fourth-mumimage {
        top:43px;
        left:355px;
    }
    .boton {
        width:65%;
        font-size:1em;
        margin-left:27%;
    }
    .myLine {
        border-bottom:none;
        border-radius:0%;
    }

}
@media screen and (max-width:490px) {
    .discographyText h2 {
        font-size:1.2em;
    }
    .discographyText {
        top:20%;
        font-size:0.7em;
    }
    .discographyText {
        line-height:15px!important;
    }
    #first-mumimage {
        top:22px;
        left:10px;
        transform:scale(0.9);
    }
    #second-mumimage {
        top:38.5px;
        left:177px;
        transform:scale(0.9);
    }
    #third-mumimage {
        top:44px;
        left:-18px;
        transform:scale(0.9);
    }
    #fourth-mumimage {
        top:59px;
        left:270px;
        transform:scale(0.9);
    }
    #myMobileImage img {
        margin-top:20%;
    }
    
}
@media screen and (max-width:400px) {
    h1 {
        font-size:2em;
    }
    .discographyText {
        top:23%;
    }
    .discographyText p {
        line-height:15px;
    }
    #first-mumimage {
        top:50px;
        left:-20px;
        transform:scale(0.8);
    }
    #second-mumimage {
        top:66.5px;
        left:132px;
        transform:scale(0.8);
    }
    #third-mumimage {
        top:71px;
        left:-32px;
        transform:scale(0.8);
    }
    #fourth-mumimage {
        top:85.5px;
        left:217px;
        transform:scale(0.8);
    }
}
@media screen and (max-width:370px) {
    #first-mumtext {
        font-size:0.8em!important;
    }
}